openapi: 3.2.0
info:
  title: PowerPlatform Private Link Resources API
  version: 2020-10-30-preview
  description: // (missing-service-description) Add service description
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PrivateLinkResources
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerPlatform/enterprisePolicies/{enterprisePolicyName}/privateLinkResources
  : get:
      operationId: PrivateLinkResources_ListByEnterprisePolicy
      tags:
      - PrivateLinkResources
      description: Gets the private link resources that need to be created for enterprisePolicy.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: enterprisePolicyName
        in: path
        description: The EnterprisePolicy name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Gets private endpoint connection.:
          $ref: ./examples/PrivateLinkResourceListGet.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Private link resources list by enterprise policy
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerPlatform/enterprisePolicies/{enterprisePolicyName}/privateLinkResources/{groupName}
  : get:
      operationId: PrivateLinkResources_Get
      tags:
      - PrivateLinkResources
      description: Gets the private link resources that need to be created for an EnterprisePolicy.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: enterprisePolicyName
        in: path
        description: The EnterprisePolicy name.
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        description: The name of the private link resource.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Gets private endpoint connection.:
          $ref: ./examples/PrivateLinkResourceGet.json
      summary: Private link resources get
      x-summary-source: derived
components:
  schemas:
    PrivateLinkResourceListResult:
      type: object
      description: The response of a PrivateLinkResource list operation.
      properties:
        value:
          type: array
          description: The PrivateLinkResource items on this page
          items:
            $ref: '#/components/schemas/PrivateLinkResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    PrivateLinkResource:
      type: object
      description: A private link resource
      properties:
        properties:
          $ref: ../../../../../../common-types/resource-management/v3/privatelinks.json#/definitions/PrivateLinkResourceProperties
          description: Resource properties.
          x-ms-client-flatten: true
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
