openapi: 3.2.0
info:
  title: PowerPlatform Operations API
  version: 2020-10-30-preview
  description: // (missing-service-description) Add service description
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
paths:
  /providers/Microsoft.PowerPlatform/operations:
    get:
      operationId: Operations_List
      tags:
      - Operations
      description: Lists all of the available PowerPlatform REST API operations.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Lists all of the available PowerPlatform REST API operations:
          $ref: ./examples/listOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Operations list
      x-summary-source: derived
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
